{% extends 'base.html' %}
{% block content %}

<!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero Section -->
    <div class="position-relative bg-white overflow-hidden">
      <div class="container position-relative z-index-2 space-top-3 space-top-lg-4 space-bottom-2 space-bottom-md-3">
        <div class="row align-items-lg-center">
          <div class="col-lg-5 mb-5 mb-lg-0">
            <!-- Info -->
            <div class="mb-6">
              <h1 class="text-white mb-3">
                The
                <span class="text-indigo font-weight-bold">
                  <span class="js-text-animation"></span>
                </span>
                <br>
                payment geteway.
              </h1>
              <p class="text-white-70">Much more than a bank, Schkitpay is the ideal, fastest and most convenient financial and administrative co-driver to work with peace of mind.</p>
            </div>

            <a class="btn btn-light btn-wide btn-pill shadow-soft transition-3d-hover mb-2 mb-sm-0 mr-4" href="#">Contact Sales</a>
            <a class="btn btn-indigo btn-wide btn-pill transition-3d-hover mb-2 mb-sm-0" href="{% url 'sign-up' %}">Get Started</a>
            <!-- End Info -->
          </div>

          <div class="col-lg-7">
            <div class="position-relative">
              <!-- Device Mockup -->
              <div class="device d-none d-sm-block mb-3 mb-sm-0" data-aos="fade-up">
                <img class="img-fluid" src="../../static/svg/components/macbook.svg" alt="Image Description">
                <img class="device-macbook-screen" src="../../static/img/1618x1010/img3.jpg" alt="Image Description">
              </div>
              <!-- End Device Mockup -->

              <!-- Card Info -->
              <div class="position-sm-absolute bottom-0 right-0 max-w-sm-40rem mx-auto ml-sm-auto mb-sm-n5" data-aos="fade-up" data-aos-delay="100">
                <div class="card bg-indigo rounded p-5">
                  <h2 class="h5 text-white mb-3">Integrate<br>quickly</h2>

                  <p class="text-info">Integrate with schkitpay in a matters of seconds.</p>
                </div>
              </div>
              <!-- Enc Card Info -->
            </div>
          </div>
        </div>
      </div>

      <!-- SVG Shape -->
      <div class="bg-primary position-absolute top-0 right-0 bottom-0 left-0"></div>

      <figure class="d-none d-md-block position-absolute" style="top: 0rem; left: 40rem; width: 62rem; height: 62rem;">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 260 260">
          <circle fill="#1818EF" opacity=".1" cx="130" cy="130" r="130"/>
        </svg>
      </figure>
      <figure class="d-none d-md-block position-absolute" style="top: 8rem; left: 40rem; width: 62rem; height: 62rem;">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 260 260">
          <circle fill="#A612DD" opacity=".1" cx="130" cy="130" r="130"/>
        </svg>
      </figure>
      <figure class="d-none d-md-block position-absolute" style="top: 5rem; left: -10rem; width: 62rem; height: 62rem;">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 260 260">
          <circle fill="#1919CC" opacity=".1" cx="130" cy="130" r="130"/>
        </svg>
      </figure>
      <figure class="d-none d-md-block position-absolute" style="top: -5rem; left: -10rem; width: 75rem; height: 62rem;">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 260 260">
          <circle fill="#1818EF" opacity=".1" cx="130" cy="130" r="130"/>
        </svg>
      </figure>

      <figure class="position-absolute bottom-0 right-0 left-0">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1921 273">
          <polygon fill="#fff" points="0,273 1921,273 1921,0 "/>
        </svg>
      </figure>
      <!-- End SVG Shape -->
    </div>
    <!-- End Hero Section -->

    <!-- Features Section -->
    <div class="container space-2 space-top-lg-3">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-5 mb-9 mb-lg-0">
          <div class="mb-5">
            <h2>Payment made easy in stores with speed and security using.</h2>
            <p>When paying in stores, Schkit Pay doesn't share your actual card number, so your information stays secure. Plus, you can check out faster and easier.</p>
          </div>

          <div class="w-md-50 w-lg-80 mb-2">
            <!-- Fancybox -->
            <div class="bg-img-hero text-center rounded py-11 px-5" style="background-image: url(../../static/img/480x320/img18.jpg);">
              <a class="js-fancybox video-player video-player-btn d-flex justify-content-center align-items-center" href="javascript:;"
                 data-hs-fancybox-options='{
                   "src": "//vimeo.com/167434033",
                   "caption": "Front - Responsive Website Template",
                   "speed": 700,
                   "buttons": ["fullScreen", "close"],
                   "vimeo": {
                     "autoplay": 1
                   }
                 }'>
                <span class="video-player-icon">
                  <i class="fas fa-play"></i>
                </span>
              </a>
            </div>
            <!-- End Fancybox -->
          </div>

          <p class="small">See how to send money with Schkit Pay.</p>
        </div>

        <div class="col-lg-6">
          <div class="position-relative max-w-50rem mx-auto" data-aos="fade-up">
            <!-- Device Mockup -->
            <div class="device device-iphone-x w-75 mx-auto">
              <img class="device-iphone-x-frame" src="../../static/svg/components/1.png" alt="Image Description">
              
            </div>
            <!-- End Device Mockup -->

            <!-- SVG Component -->
            <div class="position-absolute bottom-0 right-0 max-w-50rem w-100 z-index-n1 mx-auto">
              <img class="img-fluid" src="../../static/svg/components/abstract-shapes-2.svg" alt="Image Description">
            </div>
            <!-- End SVG Component -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Features Section -->

    <!-- Features Section -->
    <div class="container space-top-lg-3 space-bottom-lg-2">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-5 order-lg-2 mb-9 mb-lg-0">
          <div class="mb-5">
            <h2>The easiest way to pay within apps.</h2>
            <p>Use Schkit Pay to make purchases in all kinds of apps. Pay for a ride, a pizza delivery, or a new pair of sneakers — with just a touch. Checking out is fast, simple, and secure.</p>
          </div>

          <h4 class="mb-3">Get our mobile app</h4>
          <a class="btn btn-icon btn-indigo rounded-circle mr-2" href="#">
            <i class="fab fa-apple"></i>
          </a>
          <a class="btn btn-icon btn-indigo rounded-circle" href="#">
            <i class="fab fa-google-play"></i>
          </a>
        </div>

        <div class="col-lg-6 order-lg-1">
          <div class="position-relative max-w-50rem mx-auto" data-aos="fade-up">
            <!-- Device Mockup -->
            <div class="device device-iphone-x w-75 mx-auto">
              <img class="device-iphone-x-frame" src="../../static/svg/components/2.png" alt="Image Description">
              
            </div>
            <!-- End Device Mockup -->

            <!-- SVG Component -->
            <div class="position-absolute bottom-0 right-0 max-w-50rem w-100 z-index-n1 mx-auto">
              <img class="img-fluid" src="../../static/svg/components/abstract-shapes-3.svg" alt="Image Description">
            </div>
            <!-- End SVG Component -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Features Section -->

    <!-- Features Section -->
    <div class="container space-top-2 space-top-lg-3 space-bottom-lg-2">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-5 mb-9 mb-lg-0">
          <div class="mb-4">
            <h2>Get paid and use the cash. All with Schkit Pay.</h2>
            <p>When you receive money it's added to your Schkit Pay Cash card that lives in the Wallet app.</p>
          </div>

          <div class="media">
            <span class="icon icon-xs icon-indigo icon-circle mt-1 mr-3">
              <i class="fas fa-check fa-xs"></i>
            </span>
            <div class="media-body">
              <p>When you pay with a debit or credit card, Schkit Pay doesn't keep transaction information that can be tied back to you.</p>
            </div>
          </div>
          <div class="media">
            <span class="icon icon-xs icon-indigo icon-circle mt-1 mr-3">
              <i class="fas fa-check fa-xs"></i>
            </span>
            <div class="media-body">
              <p>When you use Schkit Pay Cash, information is stored only for troubleshooting.</p>
            </div>
          </div>
          <div class="media">
            <span class="icon icon-xs icon-indigo icon-circle mt-1 mr-3">
              <i class="fas fa-check fa-xs"></i>
            </span>
            <div class="media-body">
              <p>You can also add your student ID card to Schkit Wallet to access places like your dorm and the library.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="position-relative max-w-50rem mx-auto" data-aos="fade-up">
            <!-- Device Mockup -->
            <div class="device device-iphone-x w-75 mx-auto">
              <img class="device-iphone-x-frame" src="../../static/svg/components/3.png" alt="Image Description">
            </div>
            <!-- End Device Mockup -->

            <!-- SVG Component -->
            <div class="position-absolute bottom-0 right-0 max-w-50rem w-100 z-index-n1 mx-auto">
              <img class="img-fluid" src="../../static/svg/components/abstract-shapes-4.svg" alt="Image Description">
            </div>
            <!-- End SVG Component -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Features Section -->


    <!-- How To Section -->
    <div class="container space-2 space-top-lg-4 space-bottom-lg-3">
      <!-- Title -->
      <div class="w-lg-50 text-center mx-lg-auto mb-5">
        <h2>Simple and affordable.<br>Pay as you go.</h2>
        <p>From boarding passes to movie tickets, there's pretty much nothing you can't store with Schkit Pay. Plus, you can take your money further with exclusive offers, discounts, and even reminders to use your loyalty card when you enter the store.</p>
      </div>
      <!-- End Title -->
      <!-- Fancybox -->
      <div class="text-center mx-auto mb-11">
        <a class="js-fancybox" href="javascript:;"
           data-hs-fancybox-options='{
             "src": "//youtube.com/j8uxIKcxArA",
             "caption": "Front - Responsive Website Template",
             "speed": 700,
             "buttons": ["fullScreen", "close"],
             "youtube": {
               "autoplay": 1
             }
           }'>
          <i class="fas fa-play-circle align-middle text-primary font-size-3 mr-2"></i>
          See how your info is protected
        </a>
      </div>
      <!-- End Fancybox -->

      <!-- Icon Blocks Section -->
      <div class="row justify-content-md-center mb-11">
        <div class="col-md-4 col-lg-3 mb-9 mb-lg-0">
          <!-- Icon Block -->
          <div class="step-dots text-center px-lg-4">
            <figure class="max-w-10rem mx-auto mb-3">
              <img class="img-fluid" src="../../static/svg/icons/icon-48.svg" alt="SVG">
            </figure>
            <h4>Create an account</h4>
          </div>
          <!-- End Icon Block -->
        </div>

        <div class="col-md-4 col-lg-3 mb-9 mb-lg-0">
          <!-- Icon Block -->
          <div class="step-dots text-center px-lg-4">
            <figure class="max-w-10rem mx-auto mb-3">
              <img class="img-fluid" src="../../static/svg/icons/icon-39.svg" alt="SVG">
            </figure>
            <h4>Link your bank account</h4>
          </div>
          <!-- End Icon Block -->
        </div>

        <div class="col-md-4 col-lg-3">
          <!-- Icon Block -->
          <div class="text-center px-lg-4">
            <figure class="max-w-10rem mx-auto mb-3">
              <img class="img-fluid" src="../../static/svg/icons/icon-20.svg" alt="SVG">
            </figure>
            <h4>Your account is validated</h4>
          </div>
          <!-- End Icon Block -->
        </div>
      </div>
      <!-- End Icon Blocks Section -->

      <div class="max-w-50rem mx-auto" data-aos="fade-up">
        <img class="img-fluid" src="../../static/svg/illustrations/visa-card.svg" alt="Image Description">
      </div>
    </div>
    <!-- End How To Section -->

    <!-- CTA Section -->
    <div class="bg-primary">
      <div class="container space-2">
        <div class="row justify-content-lg-between align-items-lg-center text-center text-lg-left">
          <div class="col-lg-5 mb-5 mb-lg-0">
            <h2 class="text-white mb-0">Create better experiences with Schkit Pay</h2>
          </div>

          <div class="col-lg-5 text-lg-right">
            <a class="btn btn-indigo btn-wide btn-pill transition-3d-hover mx-1 mb-2" href="{% url 'sign-up' %}">Get Started</a>
            <a class="btn btn-light btn-wide btn-pill transition-3d-hover mx-1 mb-2" href="{% url 'sign-up' %}">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End CTA Section -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
  <!-- Page Preloader -->
  <div id="jsPreloader" class="page-preloader">
    <div class="page-preloader-content-centered">
      <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <!-- End Page Preloader -->

  <!-- Footer -->
 	{% include 'footer.html' %}
 <!--- End of Footer -->
{% endblock content %}